/* footer::before, footer::after {
    box-sizing: border-box;
} */

footer p {
    text-align: center;
  }
  
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    margin-top: 2rem;
    box-sizing: border-box;
  }
  
  .footer-left,
  .footer-right {
    display: flex;
  }
  
  .footer-left a,
  .footer-right a {
    margin-right: 10px;
  }
  
  .footer-left img,
  .footer-right img {
    width: 30px;
    height: 30px;
  }